<!DOCTYPE html>
<html>
  <head>
    <title>FinanceProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <br>
      <div class="menu">
        <%= link_to 'Home', root_path %> |
        <%= link_to 'Entries', entries_path %> |
        <%= link_to 'Entry categories', entry_categories_path %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
